body {
    font-family: 'Raleway', sans-serif;
    background-color: #0c1524;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-image: url(../img/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 30%;
    text-align: center;
}

@media (max-width: 765px) {
    .header{
        background-image: url(../img/bg-curvy-mobile.svg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100% 30%;
        text-align: center;    
    }
    
    .feature{
        max-width: 100%; 
        margin-bottom: 20px;
    }

    .container-productive {
        flex-direction: column;
        text-align: center;
    }

    .col-6 {
        max-width: 100%;
        margin-bottom: 20px;
    }}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.hero img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.hero {
    align-items: center;
    margin: 20px;
    padding: 10px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.cta {
    background-color: #010b11;
    color: #1b1b32;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 50px;
}

.features {
    background-color: #181f2b;
    padding: 50px 0;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.features .feature {
    background-color: #181f2b;
    border-radius: 8px;
    padding: 20px;
    color: #ffffff;
    text-align: center;
}

.features .feature img {
    margin-bottom: 20px;
}

.features .feature h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.features .feature p {
    font-size: 1rem;
    line-height: 1.5;
}

.container-productive{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
}

.productive {
    background-color: #181f2b;
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.productive img {
    flex: 1;
    max-width: 100%;
    height: auto;
    margin-right: 20px;
}

.productive .container {
    flex: 1;
}

.quote{
    position: relative;
    margin: 5rem 0 0 6rem;
}

.testimonials {
    background-color: #181f2b;
}

.testimonial {
    background-color: #2c2f48;
    border-radius: 8px;
    color: #ffffff;
    position: relative;
    padding: 20px;
    margin-bottom: 50px;
}

.testimonial p {
    font-size: 1rem;
    line-height: 1.5;
}

.testimonial .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.testimonial h6 {
    font-size: 1rem;
    margin-bottom: 0;
}

.testimonial small {
    color: #a3a5ae;
}

.cta-section {
    background-color: #181f2b;
    padding:  40px 20px ;
    margin: 0 50px;
    text-align: center;
    box-shadow: #000 25px;
    border-radius: 0 0 25px 25px;
}

.btn-submit{
    background: linear-gradient(90deg, #67c577, #0597aa);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 6px;
}

.btn-submit:hover {
    background: linear-gradient(90deg, #0597aa, #67c577);
}

footer {
    background-color: #0c1524;
    color: #ffffff;
    padding: 50px 0;
    text-align: center;
}

.logo-footer {
    max-width: 150px;
    margin-bottom: 20px;
}

.ubicacion {
    text-align: center;
    margin-bottom: 20px;
}

.ubicacion p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}

.ubicacion p img {
    margin-right: 10px;
}

.listas {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    color: #ffffff;
}

.listas li {
    margin-bottom: 10px;
}

.listas a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.listas a:hover {
    color: #52c0ff;
    text-decoration: underline;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: #ffffff;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #52c0ff;
}

footer form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

footer form input[type="email"] {
    padding: 15px;
    border-radius: 50px 0 0 50px;
    border: none;
    outline: none;
    width: 70%;
}

footer form button {
    padding: 15px;
    background-color: #52c0ff;
    color: #1b1b32;
    border: none;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
}
